header {
  margin-top: 30px;
  position: relative;
}

header i.glyphicon {
  display: inline-block;
  background-color: #672328;
  color: #fff;
  width: 31px;
  height: 31px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  padding-left: 2px;
  cursor: pointer;
}

h1 {
  margin-top: 0;
}

.form {
  position: absolute;
  top: 60px;
  background-color: #fff;  
  z-index: 1;
}

.form .panel {
  box-shadow: 2px 3px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

.form h3 {
  margin-top: 0;
}


.lista-facturas li {
  background-color: #eee;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin: 10px 0;
}

.balance .positivo {
  color: #060;
}

.balance .negativo {
  color: #600;
}